@model IEnumerable<ExpenseTrackerNew.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="AddOrEdit">Создать новую трату</a>
</p>

<div class="row">
    <div class="col-md-7">
        <table class="table">
            <thead>
                <tr>
                    <th>Категория</th>
                    <th>Тип</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Type</td>
                        <td>
                            <a asp-action="AddOrEdit" asp-route-id="@item.CategoryId">Изменить</a> |
                            <a asp-action="Details" asp-route-id="@item.CategoryId">Детали</a> |
                            <a asp-action="Delete" asp-route-id="@item.CategoryId">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
